.textformat{
	font-family: arial;
}

.colorformat{
	background-color: gray;
}

.bodyformat{
	line-height: 1.6;
	height: 100vh;
	overflow: hidden;
	margin: 0;
	padding: 0;
}

/* body {
	margin: 0;
	padding: 0;
	display: flex;
    flex-direction: column;
    height: 500vh; 
} */


/* .container{
	width: 100%;
	height: 100%;
	
} */


.welcome{
   
    background-repeat: no-repeat;
	color: white;
	background-size: cover;
    height: 300vh;
}

.sectpage{
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 100vh;
	

}