.textformat {
	font-family: arial;
}

.colorformat {
	background-color: white;
}

.bodyformat {
	line-height: 1.6;
	height: 100vh;
	margin: auto;
	padding: auto;
}

/* body {
	margin: 0;
	padding: 0;
	display: flex;
    flex-direction: column;
    height: 500vh; 
} */


.container {
	width: 100%;
	height: 100%;
}


.welcome {
	background: url(../Images/welcome.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
}

.sectpage {
	width: 100%;
	height: 100vh;
}

.rflex{
	display: flex;
	flex-direction: column;
}

.minipage{
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 60vh;
	background: url(../Images/welcome.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
}

.welcome-text {
	text-align: center;
	padding-top: 20%;
	color: white;
	font-size: 2.5rem;
	text-shadow: 2px 2px 5px black;
	/* text-shadow: h-shadow v-shadow blur-radius black; */
}

.cat-title{
	margin-left: 80px;
	margin-top: 40px;
}

.cat-title h2{
	font-size: 50px;
}

.titline{
	height: 7px;
	width: 20%;
	margin-left: 0;
	text-align: left;
	background-color: black;
	border-radius: 0 250px 250px 0;
}

/* .feature-sect{
	background-color: white;
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px 20px;
	box-sizing: border-box;
} */

.blank{
	height: 10vh;
}